@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>

<vc:Summary></vc:Summary>

<h3 style="padding-top: 15px">
    <a class="btn btn-success" supress-by-claim-name="Produto" supress-by-claim-value="Adicionar" asp-action="Create">Novo Produto</a>
</h3>

<br />

<partial name="_ListaProdutos" />