@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>

<h3 style="padding-top: 15px">
    <a class="btn btn-success" asp-action="Create">Novo Produto</a>
</h3>

<br />

<partial name="_ListaProdutos" />